.card {
    width: 600px;
    height: 600px;
    background-color: aquamarine;

    display: flex;
    flex-direction: column;
}

.image {
    width: 400px;
}

.infosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    padding: 10px;
}

.year {
    padding: 0 10px 10px;
}