.placeholder {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: blueviolet;
    width: 350px;
}

.poster {
    width: 150px;
    height: 200px;
}

.infosection {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 1rem;
    font-weight: 700;
}

.year {
    font-weight: 500;
}