.placeholder {
    display: flex;
    margin: 40px 20px 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(8px);
    width: 500px;
    position: relative;
    color: white;
}

.poster {
    width: 200px;
    height: 250px;
}

.infosection {
    display: flex;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.leftPart {
    width: 82%; 
    padding: 10px;
}

.rightPart p {
    font-size: 32px;
    font-weight: 900;

    text-transform: uppercase;
    writing-mode: vertical-lr;
    position: absolute;

    background: linear-gradient(red 20%, rgba(255, 255, 255, 0.212) 80%);
}

.title {
    font-size: 1rem;
    font-weight: 700;
}

.year {
    font-weight: 500;
}

.movie {
    background-color: red;
}


/* linear-gradient(red 60%); */