.section {
    background-color: #BDCDD6;
    font-family: Montserrat, sans-serif;

    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchPrompt {
    font-size: 1.25rem;
    font-weight: 700;
}

.searchForm {
    margin-top: 20px;

    background-color: aliceblue;
}