.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE9DA;
    padding: 20px 10px;

    font-family: 'Yeseva One', cursive;
}

.header {
    font-size: 80px;
    font-family: Gunterz, sans-serif;
    color: black;
    font-weight: 900;
    letter-spacing: -3px;
}

.rightSection {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
}

.rightSection div {
    margin: 0 10px;
}