.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE9DA;
    padding: 20px 10px;

    font-family: 'Yeseva One', cursive;
}

.header {
    font-size: 3rem;
    font-family: 'Share', cursive;
    color: black;
}

.rightSection {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
}

.rightSection div {
    margin: 0 10px;
}