.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.05);
    backdrop-filter: blur(20px);
    padding: 20px 10px;

    font-family: Montserrat, sans-serif;
    color: #fff;
}

.header {
    font-size: 3rem;
    font-family: Hanson, sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
}

.rightSection {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
}

.rightSection div {
    margin: 0 10px;
}