.footer {
    padding: 40px;
    background-color: #302e2e;

    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: white
}

.footer a {
    color: blueviolet;
}