.footer {
    padding: 40px;
    background-color: hsla(0, 0%, 100%, 0.05);
    backdrop-filter: blur(20px);

    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: white
}

.footer a {
    color: rgb(167, 74, 255);
}