@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Share:ital,wght@1,700&display=swap');

*, body {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
}